.overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tools-overview{
    position: relative;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    min-height: 100vh;
    width: 100vw;
    cursor: default;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 55rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: rows;
    justify-items: center;
}

.filter-navs {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.inMenuFilters{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.filter-btn{
    box-sizing: border-box;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    padding: .5rem 1rem .5rem 1rem;
    background-color: #02040F;
    color: var(--baseWhite);
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    z-index: 3;
    transition: all .5s;
    overflow: hidden;
}

.filter-btn:hover{
    background-color: var(baseRed);
    color: var(--baseBlack);
}


.filter-menu-btn {
    display: none;
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    padding: .5rem 1rem .5rem 1rem;
    background-color: #02040F;
    color: var(--baseWhite);
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    z-index: 3;
    transition: all .5s;
    overflow: hidden;
}

.filter-menu-btn:hover{
    color: var(--baseBlack);
}

.filter-menu-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(baseRed);
    height: 100%;
    width: 100%;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 0.5s;
    z-index: -1;
  }
  
  .filter-menu-btn:hover::before {
    transform: rotate(0deg);
  }

@media screen and (max-width: 1200px) {
    #logo{
        display: none;
    }
    .inMenuFilters{
        display: flex;
    }

    .filter-navs {
        display: none;
    }
    .filter-menu-btn {
        display: block;
    }


    .tools-overview{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

}
